ul li {
    list-style: none;
}
.nb_block  .user_info{
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 0px;
    color: #B6B6B6;
    height: 38px;
    background-color: #F5F5F5;
}
.nb_block .content{
    height: auto;
    overflow: hidden;
    border-bottom: solid 0px #b2b2b2;
    padding: 20px 20px;
    margin: 0 auto;
    padding-bottom: 0px;
}
.nb_block .content .text_content{
    font-size: 14px;
    color: #252525;
    line-height: 20px;
}
.p_img_content{
    margin-top: 20px;
}
.content_wrapper{
    clear: both;
    margin-bottom: -3px;
}
div, p, form, ul, li, input, h1, h2, h3, h4, h5, dl, dd, dt {
    margin: 0;
    padding: 0;
}
.nb_block  .user_info li{
    float: left;
}

.floatl{
    float: left;
}
.floatr{
    float: right;
}
.clear {
    clear: both;
}
img {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nb_block  .user_info li.user_name p{
    color: #777777;
    height: 18px;
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 5px;
}
.nb_block  .user_info img{
    width: 30px;
    height: 30px;
}
.nb_block  .user_info .public_info{
    margin-top: 6px;
    height: 18px;
    color: #b5b5b5;
}
.interaction{
    text-align: center;
    height: 80px;
    line-height: 80px;
}
.nb_block .interaction li{
    float: left;
    margin-right: 16px;
}

.nb_block .interaction a{
    cursor: pointer;
    color: #6A6A6A;
    font-family: "微软雅黑";
    border: solid 1px #B7B7B7;
    padding: 7px 10px 7px 8px;
    box-shadow: 0 1px 2px #EEEEEE, 0 0 0 1px #FFFFFF inset;
    border-radius: 5px 5px 5px 5px;
}
.devote_up span{
    background: url('http://img.spriteapp.com/ws/www/img/icon/no_ding.png') no-repeat;
    background-position: 0px 1px;
    padding: 5px 0px 5px 30px;
}

.devote_down span{
    background: url('http://img.spriteapp.com/ws/www/img/icon/no_cai.png') no-repeat;
    background-position: 0px 1px;
    padding: 5px 0px 5px 30px;
}
.share span{
    background: url('http://img.spriteapp.com/ws/www/img/icon/repost.png') no-repeat;
    padding: 4px 0px 5px 30px;
}

.common span{
    background: url('http://img.spriteapp.com/ws/www/img/icon/comment.png') no-repeat;
    padding: 5px 0px 5px 30px;
    background-position: 0px 2px;
}